# MANIFEST.in
#
# This tells distutils what files to distribute.

include CONTRIB
include LICENSE
include README.md
include MANIFEST.in

# Main
recursive-include jarvis *.py
recursive-include media *.py
recursive-include sounds *.wav
recursive-exclude * .AppleDouble
recursive-exclude * .gitignore
recursive-exclude * *.pyc 

